*{
    padding: 0;
    margin: 0;
}
.App{
    display: flex;
    align-items: center;
}


.interval{
    flex: 1;

}

.windowSize{
    flex: 5;
}
.windowSizeCase{
    align-items: center;
    text-align: center;
}
.intervalCase{
    display: flex;
    flex-direction: column;
    gap: 20px;
}